.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Esto asegura que haya espacio uniforme entre las tarjetas y que se muestren 4 por fila */
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 100%; /* asegura que el contenido abarque toda la tarjeta */
}

.card::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(131, 4, 93);
  z-index: -1;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%); /* Centra el círculo */
  top: 20%; /* posiciona el círculo un poco más arriba */
  filter: blur(10px); /* Difuminado agregado */
  transition: all 1s;
}

.card:hover::before {
  transform: translate(-50px, 50px);
}

.card h2 {
  
  font-size: 30px;  /* Ajusta este tamaño según tus necesidades */
  color: white;
}

.card h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;  /* Ajusta este tamaño según tus necesidades */
  color: white;
}