html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.formContainerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow-y: inherit;
}


.formContain {
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(130, 6, 161, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    box-shadow: 
        0 0 10px #6f009e, 
        0 0 20px #660092,
        0 0 30px #3a0053,
        0 0 40px #07000a;
}

.formContain label {
    display: block;
    margin-bottom: 10px;
    color: #FFF; 
    font-weight: bold;
    font-size: 18px;
}

.formContain input[type="text"],
.formContain input[type="number"],
.formContain textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.1); 
    color: #FFF;
    margin-bottom: 10px;
}

.formContain p {
  color: red;
  font-size: 11px;
  margin-top: 2px;
}

.formContain button {
    padding: 10px 15px;
    border: none;
    background-color: #6f009e;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.formContain button:hover {
    background-color: #660092;
}

.formContain button:disabled {
    background-color: #af4eff; 
    cursor: not-allowed; 
}

.form-sections {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.left-section,
.right-section {
    width: 48%; 
}

.numeric-section {
    display: flex;
    justify-content: space-evenly; 
}

.numeric-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.num-container{
    height: 100px;
}

.typeTitle {
    margin-bottom: 15px;
    color: #FFF;
    margin-top: 30px;
}

.typeContainer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    width: 445px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding-inline: 20px;
}

.formContain input[type="checkbox"] {
    margin-right: 5px;
}

.typeItem {
    display: flex;
    align-items: center;
    color: #FFF;
}

.pokeformsen {
    position: absolute;
    z-index: 1;
    width: 300px;
    right: 7px;
    bottom: 0px;

    
}