.navContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #121212;
    padding: 10px;
    width: 100vw;
    box-sizing: border-box;
}

.searchBar {
    margin-right: 10px;
}