.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.search-container {
    order: 2
}
.button_home {
    position: absolute; 
    top: 19px;         
    right: 310px;        
    z-index: 1000;    
}