.button_back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    border: 0;
}

.button_back:before,
.button_back:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button_back:before {
  border: 4px solid #ffffff;
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.button_back:after {
  border: 4px solid #ffffff;
  transform: scale(1.3);
  transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
  opacity: 0;
}

.button_back:hover:before,
.button_back:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
}

.button_back:hover:after,
.button_back:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.button-box {
    display: flex;
    position: fixed;
    bottom: 10px;     
    right: 10px;      
    z-index: 1000; 
}

.button-elem {
    display: flex;
    width: 16px;
    height: 16px;
    fill: #2b0242;
    transform: rotate(180deg);
    margin-top: -35px;
    margin-left: -35px;
}

.button_back:hover .button-box,
.button_back:focus .button-box {
  transition: .4s;
  transform: translateX(-56px);
}

