.toggle-btn {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    top: 3px;
    z-index: 3;
    order: 1;
    transform: translateX(60px)
}

.toggle-btn:hover {
    transform: translateX(60px) rotate(90deg);
}

.toggle-btn:active {
    transform: translateX(60px) scale(1);
}

.toggle-btn svg {  
    stroke: #ffffff; /* Color slate-200 */
    fill: none;
    transition: fill 200ms ease-in-out;
    width: 30px;
    height: 30px;
}

.toggle-btn:active svg {
    fill: #000000; /* Color slate-600 */
}