.filter-btn {
    padding: 5px 10px;
    border-radius: 50px;
    border: 0;
    background-color: rgba(33, 0, 54, 0.5); 
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    margin-left: 10px;
    border-radius: 10px;
    color: white; 
    margin: 0 auto;
}

.filter-btn:hover {
    letter-spacing: 1px;
    background-color: hsl(261, 100%, 13%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(22, 0, 41) 0px 7px 29px 0px;
}

.filter-btn:active {
    letter-spacing: 3px;
    background-color: hsl(260, 100%, 10%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(27, 0, 77) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.filter-dropdown {
    border: 2px solid hsl(270, 100%, 75%); /* Borde violeta claro */
    box-shadow: 0px 0px 10px hsl(270, 50%, 70%); 
    background-color: rgba(15, 0, 24, 0.9); /* Fondo violeta semi-transparente */
    color: rgb(255, 255, 255); /* Color del texto */
    border: none; 
    padding: 5px 10px; 
    border-radius: 10px; 
    margin-top: 10px;
}

.filter-dropdown:first-child {
    margin-right: 5px; 
}

.types-dropdown .filter-btn {
    box-shadow: rgba(255, 255, 255, 0.774) 0 0 8px;
    padding: 5px 40px;
    border-radius: 50px;
    border: 0;
    background-color: rgba(33, 0, 54, 0.5); 
    text-transform: uppercase;
    font-size: 14px;
    transition: all .5s ease;
    margin-left: 4px;
    border-radius: 10px;
    color: rgb(255, 255, 255); 
}

.types-menu{
  background-color: rgba(33, 0, 54, 0.5); 
  height: 100px;
  box-shadow: rgba(255, 255, 255, 0.774) 0 0 8px;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
  padding: 5px;
  left:45%;
  right: 45%;
  border-radius: 10px;
  color: white;
}

.types-menu::-webkit-scrollbar {
    width: 8px; /* Grosor del scroll */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo del canal del scroll */
}

.types-menu::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 100%); /* Color del control deslizable del scroll */
    border-radius: 10px;
    border: 2px solid transparent; /* Espacio entre el control deslizable y el canal */
    background-clip: content-box;
}


.types-menu::-webkit-scrollbar-thumb:hover {
    background-color: hsl(294, 100%, 35%);
}

