.backgroung_home {
  background-image: url('../util/fondohome.png');
  background-size: cover;        
  background-repeat: no-repeat;   
  background-position: center;    
  background-attachment: fixed;   
}

.backgroung_home {
  display: flex;
  flex-direction: column;  
  min-height: 100vh;  
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    z-index: 1;
    margin-bottom: 50px;
    flex-grow: 1;
    min-height: calc(100vh - (50px + 40px + 40px + 30px));
  }

  .pagination-btn {
    padding: 5px 10px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    margin-left: 10px;
    border-radius: 10px;
}

.pagination-btn:hover {
    letter-spacing: 1px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(37, 4, 99) 0px 7px 29px 0px;
}

.pagination-btn:active {
    letter-spacing: 3px;
    background-color: hsl(261, 83%, 40%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(41, 4, 110) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.page-info {
    color: white;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5; /* Se asegura de que esté por encima de las cartas pero debajo de otros elementos con un z-index superior */
  padding: 10px 0; /* Espacio adicional para mejorar la apariencia */
}

/* Estiliza el canal (parte trasera) de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;  /* Define el ancho de la barra de desplazamiento */
  background-color: #121212;  /* Color de fondo del canal */
}

/* Estiliza el pulgar (control deslizable) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #340563;  /* Color violeta */
  border-radius: 5px;  /* Esquinas redondeadas */
}

/* Estiliza el pulgar (control deslizable) de la barra de desplazamiento cuando se pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background-color: #700c74;  /* Un tono violeta un poco más oscuro para el efecto hover */
}
