.App {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  text-align: center;
  background-image: url("./Components/util/fondohome.png");
  background-size: cover;        
  background-repeat: no-repeat;   
  background-position: center;    
  background-attachment: fixed; 
  height: 100vh; 
}

.main-content {
  flex: 1;
}
